@font-face {
  font-family: myFontsName;
  src: url("./Silkscreen-Regular.ttf");
}

@media (max-width: 1250px) and (orientation: landscape) {
    div {
        background-color: azure;
        display: block;
    }/* … */
}

body {
    background-color: lightblue;
    margin: 20px;
  }
  
h1 {
    color: hsla(240, 100%, 25%, 50%);
    text-decoration: double;
    font-size: 15mm;
  }

h3 {
  font-size: 5vh;
  font-family: myFontsName;
}

.date {
    font-size: 0.75em;
}

#title {

    top: 0.3in;
    font-style: oblique;
    font-family: 'Times New Roman';
    position: relative; /* postulat de départ */
  }

p {
    color: rgb(255, 119, 0);
    text-decoration: dotted;
}

.main_container {
    background-color: rgb(77, 148, 171);
    text-align: center;
    text-decoration: wavy;
    width: 100%;
    height: 2.5in;
}

#content {
    margin: auto;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
    border-style: groove;
    border-color: azure;
    border-width: 5px;
    border-radius: 3%;
    display: block;
}

* {
    font-display: 0;
}

img[alt|="pomodoro chart"] {
    height: 500px;
    width: 500px;
    max-width: 60%;
    min-width: 60%;
}

img[alt|="pomodoro chart"] {
  height: 500px;
  max-height: 100%;
  max-width: 100%;
}
